<Directory /web/*/live/public_html>
	Options	 MultiViews Indexes SymLinksIfOwnerMatch IncludesNoExec
	AllowOverride All
</Directory>
<Directory /web/*/stage/public_html>
	Options	 MultiViews Indexes SymLinksIfOwnerMatch IncludesNoExec
	AllowOverride All
</Directory>
<Directory /web/*/dev/public_html>
	Options	 MultiViews Indexes SymLinksIfOwnerMatch IncludesNoExec
	AllowOverride All
</Directory>

### DEFAULT VirtualHost (blank page)

NameVirtualHost *:80
NameVirtualHost *:443

# Default :80 VirtualHost
<VirtualHost *:80>
	ServerName	localhost.localdomain
	ServerAdmin	webmaster@localhost.localdomain
	DocumentRoot	/web/DEFAULT/website
	CustomLog	/web/DEFAULT/logs/access.log combined
	ErrorLog	/web/DEFAULT/logs/errors.log
</VirtualHost>

# Default :443 VirtualHost?

### END DEFAULT VirtualHost
